In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [32]:
# load dataset from a file
tasks = pd.read_excel("tasks.xls")

In [33]:
tasks

     Task  Duration  Importance  Urgency Person A Person B Person C
0  Task 1         4           4        5        x      NaN      NaN
1  Task 2         1           2        3        x        x      NaN
2  Task x        12           2        1      NaN      NaN        x

In [34]:
# replace 'x' with '1' and 'Nan' with '0'
# tasks = tasks.replace({'Person A': 'x', 'Person B': 'x', 'Person C': 'x'}, 1)
tasks = tasks.replace({'x': 1})

tasks = tasks.replace({np.nan: 0})
tasks

     Task  Duration  Importance  Urgency  Person A  Person B  Person C
0  Task 1         4           4        5       1.0       0.0       0.0
1  Task 2         1           2        3       1.0       1.0       0.0
2  Task x        12           2        1       0.0       0.0       1.0

In [48]:
# visualisation
# https://kanoki.org/2020/08/30/matplotlib-scatter-plot-color-by-category-in-python/
# colors = {'Person A':'red', 'Person B':'green', 'Person C':'blue'}
grouped = tasks.groupby('Person A')
grouped

# plt.scatter(tasks['Importance'], tasks['Urgency'], s=tasks['Duration']*50, c=colors, alpha=0.5)